<template>
  <q-page>
    <q-page-sticky
      position="bottom-right"
      :offset="[18, 18]"
      v-show="order && order.length > 0"
    >
      <q-btn
        fab
        icon="shopping_basket"
        color="secondary"
        @click="openOrderCart"
        aria-label="Shopping Cart"
      >
        <q-badge color="primary" floating v-show="order && order.length > 0">{{
          order ? order.length : ""
        }}</q-badge>
      </q-btn>
    </q-page-sticky>
    <q-dialog v-model="comboDialog">
      <q-layout view="Lhh lpR fff" container class="bg-white">
        <q-header class="bg-primary">
          <q-toolbar>
            <q-toolbar-title>Combo Selection</q-toolbar-title>
            <q-btn flat v-close-popup round dense icon="close" />
          </q-toolbar>
        </q-header>

        <q-page-container>
          <q-page padding v-if="selectedCombo">
            <q-form @submit="addComboToOrders" class="q-gutter-md">
              <template v-for="(item, index) in selectedCombo.selections">
                <q-select
                  :key="index"
                  :options="groupedMenuItems['Premium Bento']"
                  use-input
                  input-debounce="0"
                  v-model="item.item"
                  :label="`Choice ${index + 1}`"
                  option-value="name"
                  option-label="name"
                  outlined
                  map-options
                  :rules="[val => val || 'Please select']"
                />
              </template>
              <div class="text-center q-mt-lg">
                <q-btn size="large" type="submit" color="secondary"
                  >ADD TO CART</q-btn
                >
              </div>
            </q-form>
          </q-page>
        </q-page-container>
      </q-layout>
    </q-dialog>
    <q-parallax :height="400">
      <template v-slot:media>
        <img
          src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto/v1594958735/apron.png"
          width="100%"
          style="object-fit: cover"
          alt="Ray and John Apron"
        />
      </template>
    </q-parallax>
    <div
      class="row small-screen-only justify-center items-center"
      style="position:relative; top: -50px"
    >
      <div class="col-12">
        <div class="bg-white" style="height: 50px">
          <q-space></q-space>
        </div>
      </div>
      <div class="col-2 text-center">
        <div style="position:relative; top: -60px">
          <q-btn
            flat
            dense
            round
            icon="fas fa-bars"
            aria-label="Menu"
            class="text-secondary"
          >
            <q-menu>
              <q-list style="min-width: 100px">
                <q-item
                  clickable
                  v-close-popup
                  @click="scrollToElement('menu')"
                >
                  <q-item-section>Menu</q-item-section>
                </q-item>
                <q-item
                  clickable
                  v-close-popup
                  @click="scrollToElement('order')"
                >
                  <q-item-section>How to Order</q-item-section>
                </q-item>
                <q-item
                  clickable
                  v-close-popup
                  @click="scrollToElement('delivery')"
                >
                  <q-item-section>Delivery</q-item-section>
                </q-item>
                <q-item
                  clickable
                  v-close-popup
                  @click="scrollToElement('contactus')"
                >
                  <q-item-section>Contact Us</q-item-section>
                </q-item>
              </q-list>
            </q-menu>
          </q-btn>
        </div>
      </div>
      <div class="col-8 text-center">
        <div style="position:relative; top: -100px">
          <lazy-component>
            <img
              src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto,w_315,h_271/v1594959132/logo.png"
              width="120px"
              alt="Crunchy Bros Logo"
            />
          </lazy-component>
        </div>
      </div>
      <div class="col-2 text-center">
        <div style="position:relative; top: -60px">
          <q-btn
            flat
            icon="shopping_basket"
            text-color="secondary"
            @click="openOrderCart"
            aria-label="Shopping Cart"
          >
            <q-badge
              color="primary"
              floating
              v-show="order && order.length > 0"
              >{{ order.length }}</q-badge
            >
          </q-btn>
        </div>
      </div>
    </div>

    <div
      class="row full-width desktop-only"
      style="position:relative; top: -50px"
    >
      <div class="col-12">
        <div class="bg-white" style="height: 70px">
          <q-space></q-space>
        </div>
      </div>
      <div class="col-12">
        <div class="flex justify-center" style="margin-top: -125px">
          <div class="toolbar-button" @click="scrollToElement('ourstory')">
            Our Story
          </div>
          <div class="toolbar-button" @click="scrollToElement('menu')">
            Menu
          </div>
          <div class="toolbar-button" @click="scrollToElement('order')">
            Order
          </div>
          <div style="margin-bottom: 70px">
            <div style="width: 120px; height: 103px;">
              <img
                src="https://res.cloudinary.com/crunchybros/image/upload/c_scale,f_auto,w_120/v1594959132/logo.png"
                alt="Logo"
              />
            </div>
          </div>

          <div class="toolbar-button" @click="scrollToElement('delivery')">
            Delivery
          </div>
          <div class="toolbar-button" @click="scrollToElement('contactus')">
            Contact
          </div>
          <div class="toolbar-button">
            <q-btn
              flat
              icon="shopping_basket"
              @click="openOrderCart"
              aria-label="Shopping Cart"
            >
              <q-badge
                color="primary"
                floating
                v-show="order && order.length > 0"
                >{{ order.length }}</q-badge
              >
            </q-btn>
          </div>
        </div>
      </div>
    </div>
    <!-- Our Story -->
    <div style="margin-top: -125px">
      <div class="text-center container bg-dark" id="ourstory">
        <h4 class="text-secondary" style="font-weight: 600">OUR STORY</h4>
        <div class="content-text">
          When two homecooks bumped into each other in Australia, they decided
          to bring some of their home town ﬂavours and their crunchy palate to
          the city of Melbourne; in the forms of bento, deliver nostalgic taste
          to your home.
        </div>

        <div class="background-crunchybros">
          <div class="content-text" style="margin-top: 40px">
            <div class="row">
              <div class="col-6" style="z-index: 99">
                <div class="content-pic pic-1">
                  <img
                    src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto,w_300/v1594958568/singapore%20streets.png"
                    width="100%"
                    alt="Singapore Streets"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="content-pic pic-2">
                  <img
                    src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto,w_300/v1594958568/taiwan%20streets.png"
                    width="100%"
                    alt="Taiwan Streets"
                  />
                </div>
              </div>
              <div class="col-12">
                <div style="height: 130px">
                  <q-space></q-space>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Our Story End -->

      <!-- Menu -->
      <div
        id="menu"
        class="text-center container-no-padding bg-white"
        style="padding: 80px 0px;"
      >
        <div class="content-text">
          <div class="flex justify-center">
            <div>
              <img
                src="https://res.cloudinary.com/crunchybros/image/upload/q_60,f_auto/v1595235817/singapore%20flag.png"
                width="50"
                alt="Singapore flag"
              />
            </div>
            <div style="width: 280px">
              <h4 class="text-secondary" style="font-weight: 600; margin: 0;">
                MENU
              </h4>
            </div>

            <div>
              <img
                src="https://res.cloudinary.com/crunchybros/image/upload/q_60,f_auto/v1595235817/taiwan%20flag.png"
                width="50"
                alt="Singapore flag"
              />
            </div>
          </div>

          <div class="menu-content-text">
            Our current scheduled menu is as shown below. Please select the
            individual dates to see the menu for that day and the suburbs we are
            delivering to. The minimum orders for delivery is $25. Free delivery
            applies for all order with $40 and above (one address per order).
            Food will be delivered between 5:00pm - 7:00pm.
          </div>
          <br />
          <br />
        </div>
        <div class="row menu-content-table">
          <div class="col-12">
            <q-btn-toggle
              v-model="selectedDate"
              spread
              no-caps
              toggle-color="secondary"
              color="white"
              text-color="secondary"
              :options="menuOptions"
            />
          </div>
        </div>

        <div class="col-12 mx-5 menu-container">
          <h5>Suburbs Delivery for {{ formatDate(selectedDate) }}</h5>

          <template v-for="(zone, index) in zones">
            <div class="row items-center q-px-sm " :key="index">
              <div class="col-4 ">
                <h6>City of {{ zone.name }}</h6>
              </div>
              <div class="col-8 flex">
                <template v-for="(code, ind) in sortSuburbs(zone.postalCodes)">
                  <div
                    :key="code.suburb + ind"
                    class="q-mx-sm bg-primary q-my-xs q-px-xs"
                  >
                    {{ code.suburb }}
                  </div>
                </template>
              </div>
            </div>
          </template>
        </div>
        <div class="text-center menu-container q-pt-xl">
          <!-- <div
            class="row row-wrap"
            v-if="combos && Object.keys(combos).length > 0"
          >
            <div class="col-12">
              <h5 class="text-secondary">COMBOS</h5>
            </div>
            <template v-for="item in combos">
              <div class="col-xs-12 col-md-6" :key="item.name">
                <div class="q-my-lg q-px-md">
                  <lazy-component>
                   <cld-image
                        cloudName="crunchybros"
                        :publicId="item.name"
                        quality="50"
                        :alt="item.name"
                        fetchFormat="auto"
                        crop="fit"
                        height="150"
                      />
                  </lazy-component>

                  <div class="text-h6 text-uppercase">
                    {{ item.name }} ( ${{ item.price }} )
                  </div>
                  <div class="item-description">{{ item.description }}</div>
                  <div class="item-allergen">
                    {{
                      item.allergen
                        ? `Contains : ${item.allergen.toString()}`
                        : ""
                    }}
                  </div>
                  <q-btn
                    size="large"
                    color="secondary"
                    @click="addToOrders(item)"
                    >ADD TO CART</q-btn
                  >
                </div>
              </div>
            </template>
            <div class="col-12 q-my-xl" :key="key + 'border'">
              <div style="border: 1px dashed #AC335A" />
            </div>
          </div> -->
          <div class="row row-wrap">
            <template v-for="(type, key) in groupedMenuItems">
              <template v-if="type.length > 0">
                <div class="col-12" :key="key + 'Title'">
                  <h5 class="text-secondary">{{ formatTitle(key) }}</h5>
                </div>
                <template v-for="item in type">
                  <div
                    class="col-xs-12 col-md-6"
                    :key="item.name"
                    v-if="item.type === 'Drinks'"
                  >
                    <div class="q-my-lg q-px-md">
                      <lazy-component>
                        <cld-image
                          cloudName="crunchybros"
                          :publicId="item.name"
                          quality="50"
                          :alt="item.name"
                          fetchFormat="auto"
                          crop="fit"
                          height="150"
                        />
                      </lazy-component>

                      <div class="text-h6 text-uppercase">
                        {{ item.name }} ( ${{ item.price }} )
                      </div>
                      <div class="item-description">{{ item.description }}</div>
                      <div class="item-allergen">
                        {{
                          item.allergen
                            ? `Contains : ${item.allergen.toString()}`
                            : ""
                        }}
                      </div>
                      <q-btn
                        size="large"
                        color="secondary"
                        @click="addToOrders(item)"
                        >ADD TO CART</q-btn
                      >
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-6" :key="item.name" v-else>
                    <div class="q-my-lg q-px-md">
                      <lazy-component>
                        <cld-image
                          cloudName="crunchybros"
                          :publicId="item.name"
                          quality="50"
                          responsive
                          :alt="item.name"
                          fetchFormat="auto"
                          crop="scale"
                        />
                      </lazy-component>

                      <div class="text-h6 text-uppercase">
                        {{ item.name }} ( ${{ item.price }} )
                      </div>
                      <div class="item-description">{{ item.description }}</div>
                      <div class="item-allergen">
                        {{
                          item.allergen
                            ? `Contains : ${item.allergen.toString()}`
                            : ""
                        }}
                      </div>
                      <q-btn
                        size="large"
                        color="secondary"
                        @click="addToOrders(item)"
                        >ADD TO CART</q-btn
                      >
                    </div>
                  </div>
                </template>
                <div class="col-12 q-my-xl" :key="key + 'border'">
                  <div style="border: 1px dashed #AC335A" />
                </div>
              </template>
            </template>
          </div>

          <!-- <div class="row row-wrap">
            <template v-for="(type, key) in displayMenuItems">
              <div class="col-12" :key="key + 'Title'">
                <h5 class="text-secondary">{{ formatTitle(key) }}</h5>
              </div>
              <template v-for="item in type">
                <div
                  class="col-xs-12 col-md-6"
                  :key="item.name"
                  v-if="item.type === 'Drinks'"
                >
                  <div class="q-my-lg q-px-md">
                    <lazy-component>
                      <cld-image
                        cloudName="crunchybros"
                        :publicId="item.name"
                        quality="50"
                        :alt="item.name"
                        fetchFormat="auto"
                        crop="fit"
                        height="150"
                      />
                    </lazy-component>

                    <div class="text-h6 text-uppercase">
                      {{ item.name }} ( ${{ item.price }} )
                    </div>
                    <div class="item-description">{{ item.description }}</div>
                    <div class="item-allergen">
                      {{
                        item.allergen
                          ? `Contains : ${item.allergen.toString()}`
                          : ""
                      }}
                    </div>
                    <q-btn
                      size="large"
                      color="secondary"
                      @click="addToOrders(item)"
                      >ADD TO CART</q-btn
                    >
                  </div>
                </div>
                <div class="col-xs-12 col-md-6" :key="item.name" v-else>
                  <div class="q-my-lg q-px-md">
                    <lazy-component>
                      <cld-image
                        cloudName="crunchybros"
                        :publicId="item.name"
                        quality="50"
                        responsive
                        :alt="item.name"
                        fetchFormat="auto"
                        crop="scale"
                      />
                    </lazy-component>

                    <div class="text-h6 text-uppercase">
                      {{ item.name }} ( ${{ item.price }} )
                    </div>
                    <div class="item-description">{{ item.description }}</div>
                    <div class="item-allergen">
                      {{
                        item.allergen
                          ? `Contains : ${item.allergen.toString()}`
                          : ""
                      }}
                    </div>
                    <q-btn
                      size="large"
                      color="secondary"
                      @click="addToOrders(item)"
                      >ADD TO CART</q-btn
                    >
                  </div>
                </div>
              </template>
              <div class="col-12 q-my-xl" :key="key + 'border'">
                <div style="border: 1px dashed #AC335A" />
              </div>
            </template>
          </div> -->
        </div>
      </div>

      <!-- Menu -->
      <!-- How to Order -->
      <div
        id="order"
        class="text-center container-no-padding bg-primary"
        style="padding: 40px 0px;"
      >
        <div class="background-order" v-lazy:background-image="orderURL">
          <div style="min-height: 500px;">
            <div class="content-text">
              <h4
                class="text-secondary text-uppercase"
                style="font-weight: 600; margin: 0; padding-top: 80px"
              >
                how to order
              </h4>
              <div class="menu-content-text">
                We take orders in advance in order to bring you the freshest
                ingredient. Ordering is done through this website. Last order by
                6pm the day before. If you have further queries, the following
                platforms are available for communications with us.
              </div>
            </div>
            <div style="max-width: 350px; margin: 0 auto">
              <div class="row q-mb-md">
                <div
                  class="col-4 q-pa-md cursor-pointer"
                  @click="navigateTo('https://wa.me/61455991411')"
                >
                  <lazy-component>
                    <img
                      src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto/v1594958567/whatsapp.png"
                      alt="Whatsapp"
                      style="width: 100%"
                    />
                  </lazy-component>
                  <div class="text-uppercase">Whatsapp</div>
                </div>
                <div
                  class="col-4 q-pa-md cursor-pointer"
                  @click="
                    navigateTo('http://m.me/Crunchy-Bros-113089690420491')
                  "
                >
                  <lazy-component>
                    <img
                      src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto/v1594958567/messenger.png"
                      alt="Whatsapp"
                      style="width: 100%"
                    />
                  </lazy-component>
                  <div class="text-uppercase">Messenger</div>
                </div>
                <div
                  class="col-4 q-pa-md cursor-pointer"
                  @click="navigateTo('tel:+61455991411')"
                >
                  <lazy-component>
                    <img
                      src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto/v1594958567/call.png"
                      alt="Whatsapp"
                      style="width: 100%"
                    />
                  </lazy-component>
                  <div class="text-uppercase">Call</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- How to Order End -->

      <!-- Delivery Service -->
      <div
        id="delivery"
        class="text-center container-no-padding bg-dark"
        style="padding: 40px 0px 100px 0px;"
      >
        <h4 class="text-secondary" style="font-weight: 600">
          DELIVERY SERVICE
        </h4>
        <div class="content-text">
          We are currently delivering 2 days a week as per dates shown above,
          with $5 delivery charge per order (minimum order is $25). Free
          delivery applies for all order with $40 and above (one address per
          order).
        </div>
      </div>
      <!-- Delivery Service End -->

      <!-- Contact Us -->
      <div class="text-center container-no-padding bg-primary" id="contactus">
        <div class="background-contact" v-lazy:background-image="contactURL">
          <div style="min-height: 600px;">
            <div class="content-text">
              <h4
                class="text-secondary text-uppercase"
                style="font-weight: 600; margin: 0; padding-top: 80px"
              >
                contact us
              </h4>
              <div class="menu-content-text">
                You can get in touch with us through Facebook.
              </div>
            </div>
            <div style="max-width: 350px; margin: 0 auto">
              <div
                class="flex flex-center cursor-pointer"
                @click="
                  navigateTo(
                    'https://www.facebook.com/Crunchy-Bros-113089690420491'
                  )
                "
              >
                <lazy-component>
                  <img
                    src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto,w_30/v1594958567/facebook.png"
                    alt="facebook"
                  />
                </lazy-component>
                <div
                  style="text-transform: uppercase; color:#ac335a; margin-left: 5px; font-size: 18px;"
                >
                  crunchybros
                </div>
              </div>
              <div class="q-mt-xl">
                <lazy-component>
                  <img
                    src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto,w_350/v1594958567/logo.png"
                    width="150px"
                    alt="Logo"
                  />
                </lazy-component>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact Us End -->
    </div>
  </q-page>
</template>

<script>
import { scroll } from "quasar";
import { mapState } from "vuex";
import orderBy from "lodash/orderBy";

export default {
  name: "homepage",
  meta: {
    title:
      "Crunchy Bros - Singapore and Taiwan food caterers, take away and home delivery.",
    meta: {
      description: {
        name: "description",
        content:
          "Crunchy Bros offers home delivery and catering of delicious bentos. "
      },
      keywords: {
        name: "keywords",
        content:
          "Crunchy Bros Homecooked Takeaway Delivery Catering Bentos Singapore Taiwan Cuisines"
      },
      equiv: {
        "http-equiv": "Content-Type",
        content: "text/html; charset=UTF-8"
      }
    }
  },
  preFetch({ store }) {
    return Promise.all([
      store.dispatch("loadMenuCalendar"),
      store.dispatch("loadFood"),
      store.dispatch("loadMenu"),
      store.dispatch("loadPostalCodes"),
      store.dispatch("loadCombos")
    ]);
  },
  data() {
    return {
      leftDrawerOpen: false,
      selectedDate: null,
      comboDialog: false,
      selectedCombo: null,
      orderURL:
        "https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto/v1594955875/background3.png",
      contactURL:
        "https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto/v1594955875/background4.png"
    };
  },
  mounted() {
    this.selectedDate = this.menuCalendar
      ? Object.keys(this.menuCalendar)[0]
      : null;
  },
  computed: {
    ...mapState({
      food: state => state.food,
      menu: state => state.menu,
      menuCalendar: state => state.menuCalendar,
      order: state => state.order,
      suburbs: state => state.suburbs,
      combos: state => state.combos
    }),
    menuOptions() {
      if (this.menuCalendar) {
        return Object.keys(this.menuCalendar).map(key => {
          return {
            label: this.formatDate(key).toUpperCase(),
            value: key
          };
        });
      }
      return [];
    },
    zones() {
      return this.menuCalendar[this.selectedDate].deliveryZones
        ? this.menuCalendar[this.selectedDate].deliveryZones
        : [];
    },
    displayMenuItems() {
      if (this.menu) {
        let menuItems = this.menu["-MN0Uh28VMOedJN8lakZ"].list;
        let groupedItems = {
          Seasonal: [],
          "Premium Bento": [],
          Bento: [],
          Bowl: [],
          Sides: [],
          Drinks: []
        };
        menuItems.forEach(key => {
          if (!groupedItems[this.food[key].type]) {
            groupedItems[this.food[key].type] = [];
          }
          groupedItems[this.food[key].type].push(this.food[key]);
        });
        return groupedItems;
      } else {
        return {};
      }
    },
    groupedMenuItems() {
      if (Object.keys(this.menuCalendar).length) {
        let groupedItems = {
          "Premium Bento": [],
          Bento: [],
          Bowl: [],
          Sides: [],
          Drinks: []
        };
        if (this.selectedDate) {
          let menuItems = [];
          menuItems = this.menu[this.menuCalendar[this.selectedDate].menuKey]
            .list;
          menuItems.forEach(key => {
            if (!groupedItems[this.food[key].type]) {
              groupedItems[this.food[key].type] = [];
            }
            groupedItems[this.food[key].type].push(this.food[key]);
          });
        }
        return groupedItems;
      } else {
        return {};
      }
    },
    totalCost() {
      let total = 0;
      Object.keys(this.groupedOrders).forEach(key => {
        const group = this.groupedOrders[key];
        group.orders.forEach(item => {
          total += item.qty * item.price;
        });
        // if (this.eligibleForFreeDelivery(group) === false) {
        //   total += 5;
        // }
      });

      return total;
    },
    groupedOrders() {
      let group = {};
      this.order.forEach(item => {
        if (group[item.date]) {
          group[item.date].orders.push(item);
        } else {
          group[item.date] = {
            orders: [item]
          };
        }
      });
      return group;
    }
  },
  methods: {
    sortSuburbs(list) {
      return orderBy(list, [sb => sb.suburb.toLowerCase()], ["asc"]);
    },
    eligibleForFreeDelivery(group) {
      let total = 0;
      group.orders.forEach(item => {
        total += item.qty * item.price;
      });
      return total >= this.freeDelivery;
    },
    addToOrders(item) {
      console.log(item);
      if (item.type === "Combo Choice") {
        let selections = [];
        item.items.forEach(i => {
          for (let x = 0; x < i.qty; x++) {
            selections.push({
              item: null
            });
          }
        });

        this.selectedCombo = {
          ...item,
          selections
        };
        this.comboDialog = true;
      } else {
        this.$store.commit("ADD_ORDER", {
          item,
          date: this.selectedDate,
          zone: this.zones
        });
      }
    },
    addComboToOrders() {
      this.$store.commit("ADD_ORDER", {
        item: this.selectedCombo,
        date: this.selectedDate
      });
      this.comboDialog = false;
      this.selectedCombo = null;
    },
    scrollToElement(ref) {
      const el = document.getElementById(ref);
      const { getScrollTarget, setScrollPosition } = scroll;
      const target = getScrollTarget(el);
      const offset = el.offsetTop;
      const duration = 300;
      setScrollPosition(target, offset, duration);
    },
    navigateTo(link) {
      window.open(link, "_blank");
    },
    openOrderCart() {
      if (this.totalCost < 25) {
        this.$q.notify({
          type: "warning",
          message:
            "Our minimum order is $25. Please select more items to proceed.",
          textColor: "secondary",
          color: "primary"
        });
      } else if (this.order && this.order.length === 0) {
        this.$q.notify({
          type: "warning",
          message: "You have not selected any food items!",
          textColor: "secondary",
          color: "primary"
        });
      } else {
        this.$router.push({ path: "/orders" });
      }
    },
    formatDate(date) {
      const day = date.substr(6, 2);
      const month = date.substr(4, 2);
      const year = date.substr(0, 4);
      return this.$dayjs(`${year}-${month}-${day}`).format("DD MMMM ddd");
    },
    formatUrl(url) {
      const splitUrl = url.split("upload/");
      return `${splitUrl[0]}upload/q_50,f_auto,c_scale,w_auto/${splitUrl[1]}`;
    },
    formatTitle(title) {
      let formattedTitle = "";
      switch (title) {
        case "Bento":
          formattedTitle = "BENTOS";
          break;
        case "Bowl":
          formattedTitle = "RICE BOWLS";
          break;
        case "Premium Bento":
          formattedTitle = "PREMIUM BENTOS";
          break;
        case "Sides":
          formattedTitle = "SIDES";
          break;
        case "Drinks":
          formattedTitle = "DRINKS";
          break;
      }
      return formattedTitle;
    }
  }
};
</script>
