<template>
  <q-page>
    <div class="container" style="max-width: 800px">
      <q-card class="bg-primary">
        <q-toolbar class="bg-primary text-white">
          <q-btn
            flat
            round
            dense
            icon="shopping_basket"
            text-color="secondary"
            aria-label="Shopping Cart"
          />
          <q-toolbar-title class="text-secondary">Order Form</q-toolbar-title>
          <q-btn flat round dense icon="close" @click="$router.push('/')" />
        </q-toolbar>
        <q-card-section>
          <div class="bg-white rounded-borders q-pa-md">
            <template v-for="(group, date) in groupedOrders">
              <div style="font-size: 20px; color:#ac335a " :key="date">
                Orders arriving {{ formatDate(date) }}
              </div>
              <div :key="'content' + date">
                <template v-for="(item, index) in group.orders">
                  <div class="row items-center" :key="item.name">
                    <div class="col-7">
                      <div class="text-uppercase text-bowl">
                        {{ item.name }}
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="row items-center justify-end">
                        <q-btn
                          round
                          icon="add"
                          color="secondary"
                          size="x-small"
                          @click="item.qty += 1"
                        ></q-btn>
                        <div
                          style="padding: 1px 10px; margin: 10px;border: 1px solid black; border-radius: 5px;"
                        >
                          {{ item.qty }}
                        </div>
                        <q-btn
                          round
                          icon="remove"
                          color="secondary"
                          size="x-small"
                          @click="removeItem(index)"
                        ></q-btn>
                      </div>
                    </div>
                    <div class="col-12" v-if="item.type === 'Combo Choice'">
                      <template v-for="(i, ind) in item.selections">
                        <div :key="ind" class="q-pa-sm">
                          1 x {{ i.item.name }}
                        </div>
                      </template>
                      <template v-for="(f, ind) in item.freeItems">
                        <div :key="ind" class="q-pa-sm">
                          {{ f.qty }} x {{ f.choice }} (Free)
                        </div>
                      </template>
                    </div>
                    <div class="col-12">
                      <div style="height: 1px; border: 1px dashed black"></div>
                      <div
                        class="text-right text-bold"
                        style="font-size: 20px;"
                      >
                        ${{ (item.qty * item.price).toFixed(2) }}
                      </div>
                    </div>
                  </div>
                </template>
                <div
                  class="text-right"
                  v-if="eligibleForFreeDelivery(group) === false"
                >
                  Delivery charge : $5.00
                </div>
              </div>
            </template>

            <div class="row q-mt-xl">
              <div class="col-12">
                <div style="height: 2px; border: 2px solid black"></div>
                <div class="text-right text-bold" style="font-size: 24px;">
                  Total : ${{ totalCost.toFixed(2) }}
                </div>
              </div>
            </div>
          </div>
        </q-card-section>

        <q-card-section>
          <OrderForm
            :onSubmit="onSubmit"
            :postalCodes="postalCodes"
          ></OrderForm>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
import { mapState } from "vuex";
import { generateReceipt } from "../helpers/generateReceipt";

export default {
  preFetch({ store, redirect }) {
    if (store.state.order.length === 0) {
      redirect("/");
    } else {
      store.dispatch("loadPostalCodes");
    }
  },
  data() {
    return {
      freeDelivery: 40,
      serverURL: process.env.DEV
        ? "https://crunchy-test-node.ts.r.appspot.com"
        : "https://crunchy-node.ts.r.appspot.com"
    };
  },
  watch: {
    totalFoodCost(newValue) {
      if (newValue < 25) {
        this.$q
          .dialog({
            title: "Alert",
            message:
              "Orders have dropped below $25, please order more before proceeding."
          })
          .onOk(() => {
            this.$router.push("/");
          });
      }
    }
  },
  components: {
    OrderForm: () => import("../components/OrderForm")
  },
  computed: {
    ...mapState({
      order: state => state.order    ,
      orderZone: state=> state.orderZone
      }),

    postalCodes() {
      let postalCodes = []
      if (this.orderZone) {
        this.orderZone.forEach(city => {
          city.postalCodes.forEach(suburb=> {
            postalCodes.push(suburb.postalCode)
          })
        })
      }
      return postalCodes
    },
    totalCost() {
      let total = 0;
      Object.keys(this.groupedOrders).forEach(key => {
        const group = this.groupedOrders[key];
        group.orders.forEach(item => {
          total += item.qty * item.price;
        });
        if (this.eligibleForFreeDelivery(group) === false) {
          total += 5;
        }
      });

      return total;
    },
    totalFoodCost() {
      let total = 0;
      Object.keys(this.groupedOrders).forEach(key => {
        const group = this.groupedOrders[key];
        group.orders.forEach(item => {
          total += item.qty * item.price;
        });
      });

      return total;
    },
    groupedOrders() {
      let group = {};
      this.order.forEach(item => {
        if (group[item.date]) {
          group[item.date].orders.push(item);
        } else {
          group[item.date] = {
            orders: [item]
          };
        }
      });
      return group;
    }
  },
  methods: {
    eligibleForFreeDelivery(group) {
      let total = 0;
      group.orders.forEach(item => {
        total += item.qty * item.price;
      });
      return total >= this.freeDelivery;
    },
    formatDate(date) {
      const day = date.substr(6, 2);
      const month = date.substr(4, 2);
      const year = date.substr(0, 4);
      return this.$dayjs(`${year}-${month}-${day}`).format("DD MMMM ddd");
    },

    removeItem(index) {
      this.$store.commit("REMOVE_ORDER", index);
    },
    onSubmit(data, token) {
      this.$q.loading.show({
        message: "Processing Payment"
      });
      const submittedDate = this.$dayjs().format();

      this.$axios
        .post(`${this.serverURL}/stripe/charge`, {
          amount: parseInt(this.totalCost) * 100,
          currency: "aud",
          description: `${data.name} ${this.order[0].date}`,
          source: token.id,
          idempotencyKey: `${data.name} ${submittedDate} `
        })
        .then(async res => {
          if (res.data.status === "succeeded") {
            let paymentDetails = {
              submittedDate: this.$dayjs().format(),
              ...data,
              paymentMethod: "Card",
              paymentDetails: {
                id: res.data.id,
                source: res.data.source,
                receipt_url: res.data.receipt_url,
                amount: res.data.amount
              },
              amount: this.totalCost,
              paid: true
            };
            this.$q.loading.show({
              message: "Submitting your orders"
            });
            await this.$store.dispatch("addOrder", {
              paymentDetails,
              orders: this.groupedOrders
            });
            this.$q.loading.show({
              message: "Sending Confirmation Email"
            });
            const mailData = {
              method: "post",
              url: `${this.serverURL}/email/send`,
              data: {
                to: [{ email: data.email, name: data.name }],
                subject: `${
                  process.env.DEV ? "<TESTING>" : ""
                }Crunchy Bros orders on ${this.formatDate(this.order[0].date)}`,
                html: generateReceipt(paymentDetails, this.groupedOrders),
                bcc: process.env.DEV
                  ? [{ email: "ray@crunchybros.com.au", name: "Ray Yee" }]
                  : [
                      { email: "john@crunchybros.com.au", name: "John Huang" },
                      { email: "ray@crunchybros.com.au", name: "Ray Yee" }
                    ]
              }
            };
            await this.$axios(mailData);
          }
          this.$router.push("/thankyou");
          this.$q.loading.hide();
        })
        .catch(error => {
          this.$q.notify({
            type: "error",
            message: "Payment unsuccessful. Please try again.",
            textColor: "accent",
            color: "secondary"
          });
          this.$q.loading.hide();
        });
    }
  }
};
</script>

<style></style>
