<template>
  <q-page>
    <div class="container" style="max-width: 800px; ">
      <q-card class="bg-primary" style="height: 600px">
        <q-toolbar class="bg-primary text-white">
          <q-btn
            flat
            round
            dense
            icon="shopping_basket"
            text-color="secondary"
            aria-label="Shopping Cart"
          />
          <q-toolbar-title class="text-secondary">Order Form</q-toolbar-title>
          <q-btn flat round dense icon="close" @click="$router.push('/' )" />
        </q-toolbar>
        <q-card-section>
          <div class="text-center">
            <h2>THANK YOU</h2>
            <p>
              An email confirmation with your payment and order details has been
              sent to you. Your orders will be delivered to you between 5:00pm
              to 7:00pm so please be there to pick it up. We hope you enjoy our
              delicately prepared food.
            </p>
          </div>
        </q-card-section>
      </q-card>
    </div>
  </q-page>
</template>

<script>
export default {
  preFetch({ store, redirect }) {
    if (store.state.order.length === 0) {
      redirect("/");
    }
  }
};
</script>

<style></style>
