<template>
  <div>
    <q-form class="q-gutter-md" ref="customer" v-show="step === 1">
      <q-input
        filled
        v-model="name"
        label="Your name *"
        hint="Name and surname"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Please type your name']"
      />

      <q-input
        filled
        type="phone"
        v-model="contact"
        label="Your phone *"
        lazy-rules
        :rules="[
          val => (val !== null && val !== '') || 'Please type your phone number'
        ]"
      />
      <q-input
        filled
        type="email"
        v-model="email"
        label="Your email *"
        lazy-rules
        :rules="[
          val => (val !== null && val !== '') || 'Please type your email'
        ]"
      />
      <google-autocomplete
        v-if="mapsLoaded"
        ref="address"
        id="map"
        country="au"
        placeholder="Please type your address"
        v-on:placechanged="getAddressData"
      ></google-autocomplete>

      <div class="flex items-center">
        <q-toggle color="secondary" v-model="accept"></q-toggle>
        <q-btn
          type="a"
          target="_blank"
          href="/termsandconditions"
          flat
        >I accept the terms and conditions.</q-btn>
      </div>

      <div class="q-my-xl">
        <q-btn label="Submit" type="submit" color="secondary" @click.prevent="completedForm" />
        <q-btn
          label="Back to Menu"
          color="secondary"
          flat
          class="q-ml-sm"
          @click="$router.push('/')"
        />
      </div>
    </q-form>
    <div class="bg-white rounded-borders q-pa-md q-mb-xl" v-show="step === 2">
      <div class="row">
        <div class="col-10">
          <div style="font-size: 20px; color:#ac335a ">Customer Details</div>
        </div>
        <div class="col-2 text-right">
          <q-btn rounded icon="create" @click="step = 1" />
        </div>
      </div>

      <div class="row items-center">
        <div class="col-4">
          <div class="customer-text">Name :</div>
        </div>
        <div class="col-8 customer-text">{{ name }}</div>
      </div>
      <div class="row items-center">
        <div class="col-4">
          <div class="customer-text">Phone :</div>
        </div>
        <div class="col-8 customer-text">{{ contact }}</div>
      </div>
      <div class="row items-center">
        <div class="col-4">
          <div class="customer-text">Email :</div>
        </div>
        <div class="col-8 customer-text">{{ email }}</div>
      </div>
      <div class="row items-top">
        <div class="col-4">
          <div class="customer-text">Address :</div>
        </div>
        <div class="col-8 customer-text">{{ address ? address.formattedAddress : "" }}</div>
      </div>
      <div>I accepted the terms and conditions.</div>
    </div>
    <div v-show="step === 2">
      <div class="q-pl-xs">Credit or debit card details</div>
      <div id="card-element" class="stripe-card">
        <!-- A Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display Element errors. -->
      <div id="card-errors" role="alert"></div>

      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
      <div class="text-right">
        <img src="../assets/stripe.png" style=" width: 100px;" />
      </div>
      <div class="q-my-xl">
        <q-btn label="Make Payment" color="secondary" @click.prevent="submitPayment" />
      </div>
    </div>
  </div>
</template>

<script>
import GoogleAutocomplete from "../components/GoogleAutocomplete";
export default {
  props: ["onSubmit", "postalCodes"],
  components: {
    GoogleAutocomplete,
  },
  mounted() {
    this.$q.loading.show();
    this.configureStripe();
    this.stripeLoaded = true;

    const googleMapsExist = document.getElementById("gmaps");
    if (googleMapsExist) {
      this.mapsLoaded = true;
    } else {
      this.includeScript(
        "maps.googleapis.com/maps/api/js?key=AIzaSyAsZA-fHG1821pmigxwoFsWfLLJ3G-Wxhw&libraries=places",
        "gmaps",
        function () {
          this.mapsLoaded = true;
        }.bind(this)
      );
    }

    this.$q.loading.hide();
  },
  data() {
    return {
      step: 1,
      stripeOptions: {
        style: {
          base: {
            color: "#32325d",
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: "antialiased",
            fontSize: "16px",
          },
        },
        invalid: {
          color: "#fa755a",
          iconColor: "#fa755a",
        },
        hidePostalCode: true,
      },
      stripeLoaded: false,
      mapsLoaded: false,
      address: "",
      name: null,
      contact: null,
      email: null,
      loading: true,
      accept: false,
      stripe: null,
      card: null,
    };
  },
  methods: {
    includeScript(url, id, callback) {
      let documentTag = document,
        tag = "script",
        object = documentTag.createElement(tag),
        scriptTag = documentTag.getElementsByTagName(tag)[0];
      object.id = id;
      object.src = "https://" + url;
      if (callback) {
        object.addEventListener(
          "load",
          function (e) {
            callback(null, e);
          },
          false
        );
      }
      scriptTag.parentNode.insertBefore(object, scriptTag);
    },
    configureStripe() {
      this.stripe = Stripe(
        process.env.DEV ? process.env.STRIPE_TEST_KEY : process.env.STRIPE_KEY
      );
      const elements = this.stripe.elements();
      this.card = elements.create("card", this.stripeOptions);
      this.card.mount("#card-element");
    },
    async completedForm() {
      const results = await this.$refs.customer.validate();
      let count = 0;
      if (!results) {
        this.$q.notify({
          type: "warning",
          message: "Please complete the form.",
          textColor: "accent",
          color: "secondary",
        });
        count += 1;
      }
      if (this.address === "") {
        this.$q.notify({
          type: "warning",
          message: "Please fill in your address.",
          textColor: "accent",
          color: "secondary",
        });
        count += 1;
      }
      if (!this.accept) {
        this.$q.notify({
          type: "warning",
          message: "Please accept the terms and conditions.",
          textColor: "accent",
          color: "secondary",
        });
        count += 1;
      }
      if (count === 0) {
        this.step = 2;
      }
    },
    getAddressData: function (addressData, placeResultData, id) {
      const { postal_code } = addressData;
      if (this.postalCodes.includes(postal_code)) {
        this.address = addressData;
      } else {
        document.getElementById("map").value = "";

        this.$q.notify({
          type: "warning",
          message: "Your address is out of our delivery zone",
          textColor: "accent",
          color: "secondary",
        });
      }
    },
    async submitPayment() {
      const { token, error } = await this.stripe.createToken(this.card);
      if (error) {
        // Inform the customer that there was an error.
        const errorElement = document.getElementById("card-errors");
        errorElement.textContent = error.message;
        this.loading = false;
      } else {
        const data = {
          name: this.name,
          contact: this.contact,
          email: this.email,
          address: this.address.formattedAddress,
          acceptedTermsConditions: this.$dayjs().format(),
        };
        this.onSubmit(data, token);
      }
    },
  },
};
</script>

<style>
.stripe-card {
  width: 100%;
  padding: 20px 10px;
  margin: 20px 0px 20px 0px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.00937em;
  text-decoration: inherit;
  text-transform: inherit;
  border: none;
  border-radius: 0;
  background: none;
  color: rgba(0, 0, 0, 0.6);
  outline: 0;
  background: white;
  border-radius: 5px 5px 0px 0px;
  font-size: 16px;
}

.stripe-card.complete {
  border-color: green;
}
</style>
