.toolbar-button { cursor: pointer; text-transform: uppercase; padding: 10px 10px; color: $secondary; margin: auto 15px; text-align: center; font-weight: bold; &:hover { text-align: center; color: $primary; background: $secondary; padding: 3px 10px; border-radius: 5px;}}

