/* app global css */
@font-face {
  font-family: oswald;
  src: url("./fonts/oswald-regular.woff");
  font-display: fallback;
}

@font-face {
  font-family: montserrat;
  src: url("./fonts/Montserrat-Light.woff");
  font-display: fallback;
}

@font-face {
  font-family: arialround;
  src: url("./fonts/arial-rounded-mt-bold.woff");
  font-display: fallback;
}

body {
  font-family: "montserrat";
}

h1 h2 h3 h4 h5 h6 {
  font-family: "oswald";
}

.container {
  padding: 20px;
  margin: 0 auto;
}

.container-no-padding {
  padding: 0px;
  margin: 0 auto;
}

.content-text {
  font-size: 16px;
  max-width: 400px;
  margin: 0 auto;
}

.content-pic {
  padding: 10px;
  background: white;
}

.pic-1 {
  transform: rotate(-5deg);
}

.pic-2 {
  transform: rotate(15deg) translateY(50px);
}

.background-order {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-content-text {
  max-width: 350px;
  margin: 15px auto;
}

.menu-content-table {
  max-width: 520px;
  margin: 15px auto;
}

.menu-container {
  max-width: 800px;
  margin: 0 auto;
}

.dollar-sign {
  padding-top: 40px;
  font-size: 30px;
  font-family: "arialround";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f9c489;
  color: #ac335a;
}

.price-text {
  padding-left: 10px;
  font-family: "oswald";
  letter-spacing: 5px;
  font-size: 6em;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #f9c489;
  color: #ac335a;
  display: inline;
  border-bottom: 4px solid #ac335a;
  border-radius: 1px;
  min-width: 50px;
}

.type-text {
  padding: 10px 0px;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #ac335a;
}

.menu-item-container {
  padding: 20px 0px 40px 0px;
  border-bottom: 2px dashed #ac335a;
  margin-bottom: 50px;
}

.item-description {
  max-width: 300px;
  margin: 10px auto 20px auto;
}

.item-allergen {
  color: #ac335a;
  margin: 10px auto 20px auto;
  font-size: 12px;
}

.customer-text {
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 800px) {
  .desktop-only {
    display: none;
  }

  .small-screen-only {
    display: flex !important;
  }
}

.small-screen-only {
  display: none;
}

.pac-container {
  z-index: 99999999 !important;

}
