<template>
  <q-layout>
    <!-- <q-banner
      class="bg-accent q-px-xl q-py-md"
      v-if="!$q.platform.is.chrome && showBanner"
    >
      <template v-slot:avatar>
        <q-icon name="fab fa-chrome" color="white" />
      </template>
      Crunchy Bros website works best on Chrome. If you are facing any
      diffculties in payment, please switch to Chrome. Thank you.
      <template v-slot:action>
        <q-btn
          color="secondary"
          label="Dismiss"
          @click="showBanner = !showBanner"
          aria-label="Dismiss Banner"
        />
      </template>
    </q-banner> -->

    <q-page-container>
      <router-view />
    </q-page-container>
    <q-footer class="bg-dark q-pa-md text-secondary text-bold">
      <div class="row full-width justify-center items-center">
        <div class="col-6 text-center">
          <lazy-component>
            <img
              src="https://res.cloudinary.com/crunchybros/image/upload/q_100,f_auto,w_80/v1594959132/logo%20red.png"
              alt="Crunchy Bros Red Logo"
            />
          </lazy-component>
        </div>
        <div class="col-6 text-center">
          <div class="flex flex-center">
            ©2020 Crunchy Bros
            <div
              @click="
                navigateTo(
                  'https://www.facebook.com/Crunchy-Bros-113089690420491'
                )
              "
            >
              <lazy-component>
                <img
                  src="https://res.cloudinary.com/crunchybros/image/upload/q_auto,f_auto,w_20/v1594958567/facebook.png"
                  alt="facebook"
                  style=" margin-left: 20px"
                />
              </lazy-component>
            </div>
          </div>
        </div>
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      showBanner: true
    };
  },
  methods: {
    navigateTo(link) {
      window.open(link, "_blank");
    }
  }
};
</script>
